/*Rohstoff Füllstände*/

.rohstoffe-fuellstaende{
  width: 100%;
  margin-top: 15px;
  padding: 10px;
}

.rohstoffe-title td{
  padding: 10px 20px;
  background-color: #fff;
  color: #7f9bbd;
}

.rohstoffe-element td{
  padding: 20px;
  font-size: 16px;
  background-color: red;
  background-color: #f4f4f4;
  margin-bottom: 10px;
}

.rohstoffe-element{

}

.rohstoffe-bold{
  font-weight: 700;
}

/* Rohstoffe auf der Übersichtsseite */

#rohstoffe-recipe{
  width: 260px;
  height: 230px;
  background-color: #424242;
  text-align: center;
  padding-top: 50px;
  line-height: 5em;
  float: left;
}

.recipe-title{
  margin-top: 30px;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  z-index: 1;
}

.recipe-number{
  font-size: 120px;
  color: #fff;
  z-index: 1;
}

.recipe-scale{
  width: 260px;
  position: absolute;
  margin-bottom: 0px;
  height: 40px;
  background-color: red;
  z-index: 0;
}

#rohstoffe-fuellstaende-uebersicht{
  width: 700px;
  float: left;
  margin-left: 20px;
}
