/* Timeline Styling */

#timeline {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
	background-image: url('../img/timeline/timeline-background.jpg');
	z-index: 999;
}

#raw-material-timeline {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
	background-image: url('../img/timeline/timeline-background.jpg');
	z-index: 999;
}

#timeline::before,
#raw-material-timeline::before {
	content:  '';
	width:  20px;
	height: 10px;
	position: absolute;
	background-image: url('../img/timeline-arrow.svg');
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	top: -1px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.timeline-gradient {
	position: absolute;
	top: 0;
	left: 0;
	width:  50%;
	height: 100%;
	background: linear-gradient(45deg, rgba(124,156,187,0) 0%,rgba(124,156,187,0.3) 100%);
}

#timeline-events {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#timeline .event-button {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateX(-50%) translateY(-50%);
	background: transparent;
	text-indent: -5000px;
	border-radius: 50%;
	overflow: hidden;
	width: 5px;
	height: 12px;
	border: none;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
}

#timeline .event-button.type-maintenance {
	background-color: #7f9bbd;
}

#timeline .event-button.type-error {
	background-color: red;
}

#timeline-popup[data-type="error"] #timline-data-type-bar {
	background-color: red;
}

#timeline .event-button.type-error.is-in-future {
	display: none;
}

#timeline .event-button.type-warning {
	background-color: orange;
}

#timeline-popup[data-type="warning"] #timline-data-type-bar {
	background-color: orange;
}

#timeline .event-button.type-warning.is-in-future {
	display: none;
}

#timeline .event-button.type-optimisation {
	background-color: green;
}

#timeline .event-button.type-optimisation.is-in-future {
	display: none;
}

#timeline-popup[data-type="optimisation"] #timline-data-type-bar {
	background-color: green;
}

#raw-material-timeline .allocation {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;

	overflow: hidden;
	/* border-radius: 30px; */


	cursor: pointer;

}

#raw-material-timeline .allocation span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	background-color: #809dbc;
	text-align: center;
	color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	height: 12px;
	font-size: 9px;
	line-height: 1.6em;
	display: block;
	width: 100%;
}


#raw-material-timeline .allocation.is-in-future span {
	opacity: 0.9;
}

#raw-material-timeline .allocation.is-in-past span {
	opacity: 0.4;
}

@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 0.5; }
	100% { opacity: 1; }
}

#raw-material-timeline .allocation.is-first-of-kind span {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

#raw-material-timeline .allocation.is-last-of-kind span {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#raw-material-timeline .allocation.is-current span {
	-webkit-animation: blink 4s linear infinite alternate;
	animation: blink 4s linear infinite alternate;
}

#raw-material-timeline .allocation[data-type="a"] span,
#rohstoffe-recipe[data-recipe="a"] {
	background-color: #333333;
}

#raw-material-timeline .allocation[data-type="b"] span,
#rohstoffe-recipe[data-recipe="b"] {
	background-color: #7C9CBB;
}

#raw-material-timeline .allocation[data-type="c"] span,
#rohstoffe-recipe[data-recipe="c"] {
	background-color: #808080;
}

#raw-material-timeline .allocation[data-type^="recipe"] span {
	background-color: #809dbc;
}

#raw-material-timeline .allocation[data-type="maintenance"] span {
	background-color: #cbcbcb;
}

#raw-material-timeline .allocation[data-type^="setup"] span {
	background-color: #cbcbcb;
}

#timeline-popup {
	position: absolute;
	top: 0;
	transform: translateY(-100%);
	display: none;
	width: 100%;
	height: 315px;
	/* background-color: #ccc; */
	background-color: #333;
	color: #fff;
}

#timeline-popup.is-active {
	display: block;
	z-index: 11 !important;
}

.timeline-big-image-wrapper {
	position: absolute;
	top: 0;
	display: none;
	transform: translateY(-100%);
}

#timeline-popup.has-big-image .timeline-big-image-wrapper {
	display: block;
}

#timeline-big-image {
	width: 100%;
	display: block;
}

#timeline b {
	font-weight: bold;
}

/* #timeline-popup.is-in-past {
	background-color: #333;
	color: #fff;
} */


#timeline-popup .timeline-popup-close-button {
  position: absolute;
	top: 13px;
	right: 12px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  display: block;
  color: #a1a1a1;
  background: none;
  border: 0px;
  font-size: 40px;
  line-height: 0px;
  font-weight: 200;
  font-family: 'Gotham';
  padding: 0px;
  margin: 0px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .15);
	background-image: url('../img/popup-close.svg');
	background-size: 16px;
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -5000px;
	overflow: hidden;
}

.timeline-popup-arrow {
	position: absolute;
	height: 20px;
	width: 30px;
	height: 15px;
	background-image: url('../img/popup-arrow.svg');
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: center;
	bottom: 1px;
	transform: translateX(-50%) translateY(100%);
	/* background-color: #333; */
}

#timeline-popup[data-type="maintenance"] #timeline-timespan-selected {
	background-color: #7f9bbd;
}

#timeline-popup[data-type="error"] #timeline-timespan-selected {
	background-color: red;
}

#timeline-popup[data-type="setup"] #timeline-timespan-selected {
	background-color: yellow;
}

#timeline-timespan-selected {
  display: block;
  position: absolute;
  top: 40%;
  right: 20px;
  background: #ffffff;
  border-radius: 14px;
  color: #000;
  width: 70px;
  height: 30px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 9;
  font-size: 11px;
  font-family: 'Gotham';
  line-height: 1.5em;

}

#timeline-timespan-options {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-100%);
	z-index: 11;
	color: #fff;
	display: none;
}

#timeline-timespan-options.is-active {
	display: block;
}

#timeline-timespan-options .timeline-option {
	display: block;
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	background: #ffffff;
	border-radius: 14px;
	color: #000;
	width: 70px;
	height: 30px;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 9;
	font-size: 11px;
	font-family: 'Gotham';
	line-height: 1.6em;
	margin-bottom: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
}

#timeline-timespan-options .timeline-option.is-selected {
	color: green;
}

#timeline-popup-title{
	text-align: left;
	margin-top: 0px;
	font-size: 17px;
	margin-right: 20px;
}

time#timeline-popup-time {
	font-size: 18px;
	color: #fff;
}

.timeline-image{
	float: left;
	margin-left: 25px;
	margin-top: 15px;
}

.timeline-image img{
	height: 276px;
	width: auto;
}

.timeline-content{
	width: 450px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

p#timeline-date {
  width: 320px;
}

p#timeline-popup-description {
  margin-top: 20px;
  font-size: 14px;
	line-height: 1.5;
}

#timline-data-type-bar{
	width: 7px;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	background-color: green;
}

div#timeline-popup[data-type="error"] #timline-data-type-bar {
  background-color: red;
}

div#timeline-popup[data-type="error"] #timeline-popup-title{
	color: red;
}

div#timeline-popup[data-type="setup"] #timline-data-type-bar {
  background-color: green;
}

div#timeline-popup[data-type="setup"] #timeline-popup-title {
	color: green;
}

div#timeline-popup[data-type="optimization"] #timeline-popup-title,
div#timeline-popup[data-type="optimisation"] #timeline-popup-title {
	color: green;
}

div#timeline-popup[data-type="warning"] #timeline-popup-title,
div#timeline-popup[data-type="warning"] #timeline-popup-title {
	color: orange;
}

div#timeline-popup[data-type="maintenance"] #timline-data-type-bar {
  background-color: #7f9bbd;
}

div#timeline-popup[data-type="maintenance"] #timeline-popup-title{
	color: #7f9bbd;
}


/* Legende */

#legende-button{
	position: fixed;
	bottom: 15px;
	left: 17px;
	z-index: 9999;
	width: 30px;
	height: 30px;
	background-image: url('../img/legende-info.png');
	background-size: cover;
}

#legende-button.active{
	background-image: url('../img/legende-info-active.png');
	background-size: cover;
}

span.selbstoptimierung::before,
#timeline span.optimisation::before {
  content: url(../img/legende-selbstopimierung.png);
	padding-right: 6px;
	margin-top: -2px;
}

span.warnung::before,
#timeline span.warnung::before {
  content: url(../img/legende-warning.png);
	padding-right: 6px;
	margin-top: -2px;
}

span.stoerung::before,
#timeline span.error::before {
  content: url(../img/legende-error.png);
	padding-right: 6px;
	margin-top: -2px;
}

span.wartung::before,
#timeline span.maintenance::before {
  content: url(../img/legende-maintenance.png);
	padding-right: 6px;
	margin-top: -2px;
}

#timeline-legende{
	width: 100%;
	background-color: #f5f5f5;
	position: fixed;
	bottom: 0px;
	z-index: 999;
	display: none;
	padding-top: 24px;
	padding-bottom: 21px;
  font-size: 12px;
	padding-left: 80px;
	background-image: url('../img/timeline/legende-background.jpg');
}

#timeline-legende span{
	margin-right: 20px;
}

#timeline-legende.active{
	display: block;
}

.timeline-scale {
	position: absolute;
	width: 100%;
	top: 0;
	height: 100%;
}

.timeline-scale .scale-item {
	position: absolute;
	height: 100%;
	top: 0;
	padding-left: 4px;
	font-size: 10px;
	display: flex;
	align-items: flex-end;
}

.timeline-scale .scale-item::before {
	content: '';
	left: 0;
	top: 0;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	background-color: #ccc;
	width: 1px;
}

.hiddenEventPopups b {
	font-weight: bold;
}